#root {
  height: 250px;
  width: 250px;
  border: 3.5px solid white;
  padding: 15px;
  text-align: center;
  top: 50%;
  left: 45%;
  position: relative;

}

.map{
  height: 50vh;
  width: 450px;
  border: 5px white solid;
  position: relative;
  top:65%;
  right: 30%;
}
